# Server
PORT=3000
NODE_ENV=development

# Client Auth (FE -> Service)
# These same credentials are also used for Shopify OAuth
CLIENT_ID=your-client-id
CLIENT_SECRET=your-client-secret

# Shopify Config
SHOPIFY_STORE_URL=https://69hqas-uv.myshopify.com

# Price Policy Thresholds (in SGD)
OCEAN_FREIGHT_RATE=10
OCEAN_FREIGHT_FREE_THRESHOLD=4000
LOCAL_DELIVERY_CHARGE=40
LOCAL_DELIVERY_FREE_THRESHOLD=2000
INSTALLATION_FREE_THRESHOLD=12000
